# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Part 1 - Data Preprocessing

### Importing the dataset

In [2]:
pwd

'D:\\Deep learning\\Neural network\\ANN'

In [3]:
cd "/content/drive/MyDrive/Training and Development /deep learning/Deep Learning/ANN"

[WinError 3] The system cannot find the path specified: '/content/drive/MyDrive/Training and Development /deep learning/Deep Learning/ANN'
D:\Deep learning\Neural network\ANN

In [4]:
pwd

'D:\\Deep learning\\Neural network\\ANN'

In [5]:
dataset=pd.read_csv("D:\\Deep learning\\Neural network\\ANN\\Churn_Modelling.csv")
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
x=dataset.drop(["RowNumber",	"CustomerId",	"Surname","Exited"],axis=1)
x
y=dataset["Exited"]
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [8]:
# X = dataset.iloc[:, 3:-1].values
# y = dataset.iloc[:, -1].values

In [7]:
print(x)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [8]:
print(y)
type(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

pandas.core.series.Series

### Encoding categorical data

Label Encoding the "Gender" column

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x["Gender"] = le.fit_transform(x["Gender"])
x["Geography"]=le.fit_transform(x["Geography"])

In [10]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

One Hot Encoding the "Geography" column

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x= np.array(ct.fit_transform(x))

In [12]:

print(x[1])

[0.0000000e+00 0.0000000e+00 1.0000000e+00 6.0800000e+02 0.0000000e+00
 4.1000000e+01 1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00
 1.0000000e+00 1.1254258e+05]

### Splitting the dataset into the Training set and Test set

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 14)

In [14]:
x_train.shape

(7000, 12)

### Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [16]:
x_train

array([[-1.0106279 ,  1.74067133, -0.57207153, ...,  0.64642486,
        -1.02869732,  0.71252998],
       [ 0.98948386, -0.57449099, -0.57207153, ...,  0.64642486,
        -1.02869732,  0.11555262],
       [ 0.98948386, -0.57449099, -0.57207153, ...,  0.64642486,
        -1.02869732, -0.63701059],
       ...,
       [-1.0106279 ,  1.74067133, -0.57207153, ..., -1.54697021,
        -1.02869732,  0.17080672],
       [-1.0106279 ,  1.74067133, -0.57207153, ..., -1.54697021,
         0.97210324, -0.24408572],
       [ 0.98948386, -0.57449099, -0.57207153, ...,  0.64642486,
         0.97210324,  0.09662703]])

## Part 2 - Building the ANN

### Initializing the ANN

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation, Dropout

In [18]:
model = Sequential()

### Adding the input layer and the first hidden layer

In [19]:
model.add(Dense(units=12,input_dim=12,activation='relu'))

### Adding the second hidden layer

In [20]:
model.add(Dense(units=4,activation='relu'))

### Adding the third hidden layer

In [21]:
model.add(Dense(units=2,activation='relu'))

### Adding the output layer

In [22]:
model.add(Dense(units=1,activation='sigmoid'))

## Part 3 - Training the ANN

### Summarize the ANN

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                156

 dense_1 (Dense)             (None, 4)                 52

 dense_2 (Dense)             (None, 2)                 10

 dense_3 (Dense)             (None, 1)                 3

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Compiling the ANN

In [24]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])
# ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [25]:
history = model.fit(x_train, y_train, batch_size = 128, epochs = 20)

Epoch 1/20
55/55 [==============================] - 2s 4ms/step - loss: 0.7464 - accuracy: 0.6020
Epoch 2/20
55/55 [==============================] - 0s 3ms/step - loss: 0.6802 - accuracy: 0.7463
Epoch 3/20
55/55 [==============================] - 0s 4ms/step - loss: 0.6594 - accuracy: 0.7851
Epoch 4/20
55/55 [==============================] - 0s 3ms/step - loss: 0.6452 - accuracy: 0.7950
Epoch 5/20
55/55 [==============================] - 0s 3ms/step - loss: 0.6329 - accuracy: 0.7971
Epoch 6/20
55/55 [==============================] - 0s 3ms/step - loss: 0.6216 - accuracy: 0.7970
Epoch 7/20
55/55 [==============================] - 0s 3ms/step - loss: 0.6111 - accuracy: 0.7971
Epoch 8/20
55/55 [==============================] - 0s 4ms/step - loss: 0.6013 - accuracy: 0.7973
Epoch 9/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5922 - accuracy: 0.7974
Epoch 10/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5836 - accuracy: 0.7981
Epoch 11/20
55/55 [==============================] - 0s 3ms/step - loss: 0.5755 - accuracy: 0.7990
Epoch 12/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5676 - accuracy: 0.8003
Epoch 13/20
55/55 [==============================] - 0s 3ms/step - loss: 0.5601 - accuracy: 0.8013
Epoch 14/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5528 - accuracy: 0.8044
Epoch 15/20
55/55 [==============================] - 0s 3ms/step - loss: 0.5458 - accuracy: 0.8063
Epoch 16/20
55/55 [==============================] - 0s 3ms/step - loss: 0.5380 - accuracy: 0.8087
Epoch 17/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5233 - accuracy: 0.8220
Epoch 18/20
55/55 [==============================] - 0s 4ms/step - loss: 0.5135 - accuracy: 0.8289
Epoch 19/20
55/55 [==============================] - 0s 3ms/step - loss: 0.5059 - accuracy: 0.8301
Epoch 20/20
55/55 [==============================] - 0s 4ms/step - loss: 0.4991 - accuracy: 0.8293

In [26]:
history

In [27]:
model.get_weights()

[array([[ 3.3020067e-01,  3.0513754e-02, -5.1668173e-01, -1.4961587e-01,
          1.4668445e-01, -2.6966879e-01, -7.0448160e-02, -1.0967846e-02,
          2.7428165e-01,  9.0976462e-02,  3.5347709e-01, -2.8358454e-02],
        [-4.3782735e-01,  1.1767892e-01, -1.4098930e-01,  4.0854129e-01,
         -3.5738045e-01,  1.8776740e-01,  1.6244014e-01,  5.2211744e-01,
         -3.2733485e-02,  6.5042579e-05,  3.7644681e-01, -3.1280375e-01],
        [ 1.6259484e-01, -1.4213465e-01, -4.8283902e-01,  2.2753952e-01,
          1.6741295e-01, -1.6512372e-01, -6.2667167e-01, -1.7866574e-01,
          3.2326853e-01, -1.2858503e-01, -1.8817370e-01,  4.1984943e-01],
        [-1.9388556e-01, -2.9061967e-01, -5.7688713e-01,  1.3728277e-01,
          3.0265641e-01,  8.9636773e-02,  5.3511930e-01,  1.4793627e-01,
          2.4949524e-01, -9.9091843e-02,  1.4572945e-02,  4.1693631e-01],
        [-9.3222089e-02,  1.8205942e-01, -9.7897120e-02,  1.6340956e-01,
         -3.2710922e-01,  3.7616678e-02, -1.7514171e-01, -2.1666265e-01,
          2.9473844e-01,  1.6727430e-01, -2.5875807e-01,  2.6686320e-01],
        [-6.8620312e-01, -1.5447320e-01, -2.7062383e-01,  2.9458436e-01,
          4.7117326e-02, -1.7356507e-02,  6.7301102e-02,  8.3265352e-01,
          6.9624895e-01,  9.9424340e-02, -6.3514337e-02,  1.4438914e-01],
        [-5.4040354e-01,  6.1511405e-02,  2.6329908e-01, -1.6097429e-01,
          6.7355871e-02,  3.7522927e-01, -2.8630143e-01, -5.5516575e-02,
         -1.7854723e-01, -5.8418103e-02,  3.9871320e-01,  2.5297931e-01],
        [-3.0657035e-01, -1.4937176e-01,  2.8208238e-01, -4.1478637e-01,
         -1.8077491e-01,  1.4789857e-01,  4.0471846e-01,  1.3376391e-01,
         -1.2277682e-02,  5.9955871e-01, -4.8330021e-01,  5.6690425e-01],
        [ 1.9164713e-01,  3.1739613e-01, -2.1199217e-02,  7.3232430e-01,
          3.4572609e-02, -2.2223109e-01,  1.2113570e-02, -3.0971444e-01,
         -4.2107007e-01, -4.4509289e-01,  5.5492043e-01, -3.6210442e-01],
        [-1.7779996e-01, -3.6004272e-01,  6.5210991e-02,  2.6141569e-01,
          2.7536741e-01, -3.7530422e-01, -2.6048121e-01,  5.3572711e-03,
          5.9657138e-02,  3.5763073e-01, -4.0038615e-02,  9.4952799e-02],
        [ 1.1626187e-02,  3.3472714e-01, -1.8736883e-01,  2.5211579e-01,
         -2.1199410e-01, -1.9083180e-02,  1.4237410e-01, -6.5636837e-01,
         -7.1568489e-01,  2.2176249e-01,  4.1332695e-01, -2.0867117e-02],
        [-3.2581627e-01,  6.5639280e-03, -2.4883261e-01,  8.9719640e-03,
         -1.7329434e-01, -2.6612082e-01, -1.9962181e-01, -1.9000979e-02,
          3.5930085e-01,  4.0700546e-01,  1.8569572e-01, -4.3623468e-01]],
       dtype=float32),
 array([ 0.1962107 , -0.08620632, -0.05613145,  0.03585587, -0.10634839,
        -0.06733645,  0.13414086, -0.06500506, -0.05971632,  0.03318596,
         0.14631297,  0.13780905], dtype=float32),
 array([[-0.44643623, -0.1396592 , -0.25506824,  0.154688  ],
        [-0.4696568 ,  0.3308473 ,  0.7410175 ,  0.150289  ],
        [-0.5402781 ,  0.3965211 ,  0.36668128,  0.6251552 ],
        [ 0.0920279 , -0.4234002 ,  0.24145433, -0.3769748 ],
        [-0.596391  ,  0.34093976, -0.08454707, -0.36879134],
        [ 0.34527332,  0.41964993,  0.65245247,  0.30212745],
        [-0.17583847, -0.44283137,  0.41249824,  0.23323311],
        [-0.32357523,  0.76853   , -0.12073862, -0.42854056],
        [-0.32217056,  0.3845179 , -0.10907497, -0.5726297 ],
        [-0.4537049 , -0.5184547 ,  0.11836473,  0.3789551 ],
        [-0.26930988, -0.7168977 ,  0.5299528 ,  0.37012774],
        [-0.20024458, -0.26145682,  0.58661383,  0.02473213]],
       dtype=float32),
 array([ 0.        , -0.08765172,  0.16233304,  0.15861848], dtype=float32),
 array([[-0.8688929 ,  0.84912515],
        [-0.9053061 ,  0.73424774],
        [-0.35483503, -0.15472007],
        [-0.87429166, -0.56582576]], dtype=float32),
 array([ 0.        , -0.08838606], dtype=float32),
 array([[-1.3524988],
        [ 1.2148752]], dtype=float32),
 array([-0.86520106], dtype=float32)]

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation



Use our ANN model to predict if the customer with the following informations will leave the bank:

Credit Score: 600

Geography: France

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [ ]:
model.save('mymodel.h5')

In [ ]:
from keras.models import load_model
model=load_model('mymodel.h5')

In [ ]:
print(model.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))> 0.5)

**Solution**

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

## Great Work!!